<web-app>
         <servlet>
                  <servlet-name>AlunoMobileServlet</servlet-name>
                  <servlet-class>AlunoMobileServlet</servlet-class>
         </servlet>
         <servlet-mapping>
                  <servlet-name>AlunoMobileServlet</servlet-name>
                  <url-pattern>/AlunoMobileServlet</url-pattern>
         </servlet-mapping>
</web-app>
